*.exe
*.pdb
*.cache
*.il
*.exp
*.lib
*.FileListAbsolute.txt

*.postsharp
PostSharp/

[Bb]in/
[Oo]bj/

*.user
*.ncb
*.sdf
*.opensdf
*.suo
ipch/
[Dd]ebug/
[Rr]elease/

*.scc
*.vssscc
*.vspscc

.svn/

*~

deploy/

[Tt]est[Rr]esult.xml
IntegrationTests.VisualState.xml

UpgradeLog.XML
_UpgradeReport_Files/

Thumbs.db
