/* Splitter */
.jueSplitter
{
    
}

.jueSplitterVertical .jueSplitterCell
{
    float:left;
    height:100%;
}

.jueSplitterVertical .jueSplitterBar
{
    float:left;
    width:5px;
    background:#D4D0C8;
    height:100%;
    cursor:e-resize;
}

.jueSplitterVertical .jueSplitterBtnGroup
{
    
}

.jueSplitterVertical .jueSplitterBtnMax
{
    display:block;
    width:3px;
    height:3px;
    cursor:default;
}

.jueSplitterVertical .jueSplitterBtnMin
{
    display:block;
    width:3px;
    height:3px;
}

.jueSplitterHorizon .jueSplitterCell
{
}

.jueSplitterHorizon .jueSplitterBar
{
    height:5px;
    background:#D4D0C8;
    cursor:n-resize;
}

.jueSplitterHorizon .jueSplitterBtnGroup
{
    
}

.jueSplitterHorizon .jueSplitterBtnMax
{
    display:block;
    width:3px;
    height:3px;
    cursor:default;
}

.jueSplitterHorizon .jueSplitterBtnMin
{
    display:block;
    width:3px;
    height:3px;
    cursor:default;
}

